<% provide(:title, 'All courses') %>
<h1>All Courses Assigned</h1>

<table class="table">
  <div class="course">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Begin at</th>
        <th>End at</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <th>
          <%= link_to course.name, course_path(course) %> &nbsp;
        </th>
        <td>
          <%= course.description %> &nbsp;
        </td>
        <td>
          <%= course.begin_at %> &nbsp;
        </td>
        <td>
          <%= course.end_at %> &nbsp;
        </td>
      </tr>
      <% end %>
    </tbody>
  </div>
</table>