<% provide(:title, 'All courses') %>
<h1>All Courses Assigned</h1>

<table class="table">
  <div class="course">
    <thead>
      <th>Course Name</th>
      <th>Begin at</th>
      <th>End at</th>
      <th>History</th>
      <th colspan="4"></th>
    </thead>
    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <th>
          <%= link_to course.name, user_course_path(@user, course) %> &nbsp;
        </th>
        <th>
          <%= course.begin_at %> &nbsp;
        </th>
        <th>
          <%= course.end_at %> &nbsp;
        </th>
        <th>
          <%= link_to "Show Activity", activitys_path %>
        </th>
      </tr>
      <% end %>
    </tbody>
  </div>
</table>

