<% provide(:title, 'All courses') %>
<h1>All Courses Assigned</h1>

<table class="table">
  <div class="course">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Begin at</th>
        <th>End at</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <th>
          <%= link_to course.name, user_course_path(current_user, course) %>
        </th>
        <th>
          <%= link_to course.description,
              user_course_path(current_user, course) %>
        </th>
        <th>
          <% if course.begin_at.nil? %>
            Not be started!
          <% else %>
            <%= course.begin_at %> &nbsp;
          <% end %>
        </th>
        <th>
          <% if course.end_at.nil? %>
            <br>
          <% else %>
            <%= course.end_at %> &nbsp;
          <% end %>
        </th>
      </tr>
      <% end %>
    </tbody>
  </div>
</table>