<% provide(:title, 'Users Manage') %>
<h1>All users</h1>
<%= will_paginate %>
<table class="table">
  <div class="users">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>
</table>
<%= will_paginate %>