<% provide(:title, 'All courses') %>
<h1>All Courses</h1>

<%= will_paginate %>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th colspan="6"></th>
  </thead>
  <div class="course">
    <% @courses.each do |course| %>
      <%= render course %>
    <% end %>
  </div>
</table>
<%= will_paginate %>

<%= link_to_if(current_user && current_user.admin?, 'Create A New Course',
  new_admin_course_path, class: "btn btn-primary") %>